@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&family=Nunito:wght@300;400;600&display=swap");



body {
  font-family: "Nunito", sans-serif;
}

h1, h2, h3, .title {
  font-family: "Space Grotesk", sans-serif;
}

@import "tailwindcss";

@theme{
  --font-poppins: "Poppins", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-nuniti: "Nunito", sans-serif;
}

@apply font-sans antialiased;
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: "Poppins", sans-serif;
}